{%- capture cart_item_options -%}
  {%- unless item.variant.title == 'Default Title' -%}
    <span class="cart-item-options">
      {%- if item.variant.title != 'Default title' -%}
        {{ item.variant.title | replace: ' /', ',' }}
      {%- endif -%}
    </span>
  {%- endunless -%}
{%- endcapture -%}

{% if item.variant.inventory_management != blank and item.variant.inventory_policy == 'deny' %}
  {% assign max = item.variant.inventory_quantity %}
{% else %}
  {% assign max = blank %}
{% endif %}

{% assign quantity_name = 'quantity-' | append: item.key %}

<article class="cart-item" data-cart-item="{{ item.id }}">
  {%- if item.image -%}
    <figure class="cart-item-column cart-item-column-image cart-item-image">
      <a href="{{ item.url }}"></a>
      {%
        include 'rimg',
        img: item.image,
        size: '120x',
        lazy: true
      %}
    </figure>
  {%- endif -%}

  <div class="cart-item-column cart-item-column-information">
    <div class="cart-item-information-row">
      <span class="cart-item-title">
        <a href="{{ item.url }}">{{ item.product.title }}</a>
      </span>

      {% unless cart_item_options == blank %}
        <span class="cart-item-options">
          {{ cart_item_options }}
        </span>
      {% endunless %}

      <div class="cart-item-prices">
        {% if item.original_price != item.final_price %}
          <span class="money cart-item-price cart-item-original-price">{{ item.original_price | money }}</span>
        {% endif %}
        <span class="money cart-item-price cart-item-final-price">{{ item.final_price | money }}</span>
        {% if item.unit_price %}
          {% assign variant_for_unit_price = item %}
          {% comment %}unit-price{% endcomment %}
          {% comment %}
            @param variant_for_unit_price
              Product variant for price
          {% endcomment %}
          
          {% capture total_quantity %}
            <span class="product-price__unit-price-total-quantity" data-unit-price-quantity>
              {{ variant_for_unit_price.unit_price_measurement.quantity_value }}{{ variant_for_unit_price.unit_price_measurement.quantity_unit }}
            </span>
          {% endcapture %}
          
          
          {% capture unit_price %}
            <span class="product-price__unit-price-amount money" data-unit-price-amount>
              {{ variant_for_unit_price.unit_price | money }}
            </span>
          {% endcapture %}
          {% capture unit_measure %}
            <span class="product-price__unit-price-measure" data-unit-price-measure>
              {%- if variant_for_unit_price.unit_price_measurement.reference_value != 1 -%}
                {{ variant_for_unit_price.unit_price_measurement.reference_value }}
              {%- endif %}
              {{ variant_for_unit_price.unit_price_measurement.reference_unit }}
            </span>
          {% endcapture %}
          
          <div
            class="
              product-price__unit-price
              {% unless variant_for_unit_price.unit_price_measurement %}hidden{% endunless %}
            "
            data-unit-price
          >
            {{ 'product.price_per_unit_html' | t: total_quantity: total_quantity, unit_price: unit_price, unit_measure: unit_measure | strip_newlines }}
          </div>
          
          {% assign variant_for_unit_price = blank %}
        {% endif %}
      </div>

      {% if item.discount_allocations.size > 0 %}
        <div class="cart-item-discounts">
          {% for discount_allocation in item.line_level_discount_allocations %}
            <span class="cart-item-discount">
              {%- include 'icon', id: 'sale-tag', class: 'cart-item-discount-sale-tag' -%}
              {{ discount_allocation.discount_application.title }} (-<span class="money">{{ discount_allocation.amount | money }}</span>)
            </span>
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <div class="cart-item-remove" data-cart-item-remove>{{ 'cart.remove_item' | t }}</div>

    <div class="cart-item-quantity">
      {%
        include 'quantity',
        max: max,
        value: item.quantity,
        input_name: quantity_name
      %}
    </div>

    <div class="cart-item-line-prices">
      {% if item.original_line_price != item.final_line_price %}
        <span class="money cart-item-line-price cart-item-original-line-price">{{ item.original_line_price | money }}</span>
      {% endif %}
      <span class="money cart-item-line-price cart-item-final-line-price">{{ item.final_line_price | money }}</span>
    </div>
  </div>
</article>