<style>
  
/* body.page-template-password {
    background: url(https://i.pinimg.com/originals/89/61/0e/89610e51686fc18228e108cc081d0bdd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}*/ 
  
  
  
  
  .page-template-password h3 {
    font-size: 27px;
    max-width: 50%;
    margin: auto;
    margin-bottom: 32px;
}
  
  .page-template-password h1 {
    text-transform: uppercase;
    font-size: 36px;
}
  .page-template-password h2 {
    font-size: 30px;
    text-transform: uppercase;
}
   @media screen and (max-width: 786px){
.page-template-password h3 {
    font-size: 19px;
    max-width: 95%;
}
    }
  
  
  
  </style>



<div class="section-password-wrapper">
  <h1 aria-label="{{ shop.name | escape }}">
    {%- if section.settings.logo != blank -%}
      {%
        include 'rimg',
        img: section.settings.logo,
        size: '400x',
        alt: section.settings.logo.alt
      %}
    {%- else -%}
      {{ shop.name }}
    {%- endif -%}
  </h1>

  <h2>
    {{ 'password.title' | t}}
  </h2>

   <h3>A new online concept store where style is not compromised.  A world curated selection of home decor and fashion accessories for the conscious buyer.</h3>
  
  
  <div class="share-buttons">

      
        <a target="_blank" href="//www.facebook.com/JulieandEv"><svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  <path fill="currentColor" fill-rule="evenodd" d="M12.82 24H1.324A1.325 1.325 0 0 1 0 22.675V1.325C0 .593.593 0 1.325 0h21.35C23.407 0 24 .593 24 1.325v21.35c0 .732-.593 1.325-1.325 1.325H16.56v-9.294h3.12l.466-3.622H16.56V8.77c0-1.048.29-1.763 1.795-1.763h1.918v-3.24c-.332-.045-1.47-.143-2.795-.143-2.766 0-4.659 1.688-4.659 4.788v2.67H9.692v3.623h3.127V24z"></path>
</svg>
</a>
    
      
        <a target="_blank" href="//www.instagram.com/julieandev"><svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  <path fill="currentColor" fill-rule="evenodd" d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z"></path>
</svg>
</a>  
     

      

 </div>


  
  
  
  
  
  
  
  {% unless shop.password_message == blank %}
    
  {% endunless %}

  {%- if section.settings.show_newsletter_signup -%}
    <div class="section-password-newsletter">
      {% if section.settings.newsletter_title != blank %}
        <h3>{{ section.settings.newsletter_title | escape }}</h3>
      {% endif %}

      {% if section.settings.newsletter_text != blank %}
        <div class="section-password-newsletter-text">
          {{ section.settings.newsletter_text }}
        </div>
      {% endif %}

      {%- include 'newsletter' -%}
    </div>
  {%- endif -%}

  <!-- <div class="section-password-form">
    <h3>{{ 'password.enter_password' | t }}</h3>

    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <input
        type="password"
        name="password"
        placeholder="{{ 'general.form.password_placeholder' | t }}">
      <input
        type="submit"
        class="button"
        value="{{ 'general.form.submit' | t }}">
    {% endform %}   

  </div>-->
</div>























{% schema %}
{
  "name": "Password page",
  "class": "section-password",
  "settings": [
    {
      "id": "logo",
      "type": "image_picker",
      "label": "Logo image",
      "info": "400 x 200px .png recommended"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "id": "show_newsletter_signup",
      "type": "checkbox",
      "label": "Show newsletter signup",
      "default": true
    },
    {
      "id": "newsletter_title",
      "type": "text",
      "label": "Title",
      "default": "Subscribe"
    },
    {
      "id": "newsletter_text",
      "type": "richtext",
      "label": "Text"
    }
  ]
}

{% endschema %}